<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout1">
<head>
<title>ユーザー登録</title>
</head>
<body>
  <div class="container" layout:fragment="contents">
    <h1 class="page_header">ユーザー登録</h1>
    <div id="login">
      <form action="#" th:action="@{/signup}" th:object="${signUpForm}" method="post">
        <div class="alert alert-danger" role="alert" th:if="${signupError}">
          <span>ユーザー名もしくはメールアドレスが既に利用されています</span>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('username')} ? has-error : ''">
          <label for="username" class="control-label">ユーザーID</label>:
          <input type="text" id="username" name="username" autofocus="autofocus" class="form-control" th:value="*{username}" />
          <span class="help-block" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</span>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('password') || #fields.hasErrors('confirmPassword') || #fields.hasErrors('samePassword')} ? has-error : ''">
          <label for="password" class="control-label">パスワード</label>:
          <input type="password" id="password" name="password" class="form-control" th:value="*{password}" />
          <label for="password" class="control-label">パスワード(確認)</label>:
          <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" th:value="*{confirmPassword}" />
          <span class="help-block" th:if="${#fields.hasErrors('password') || #fields.hasErrors('confirmPassword')}" th:errors="*{password}">Password Error</span>
          <span class="help-block" th:if="${#fields.hasErrors('samePassword')}" th:errors="*{samePassword}">Password Error2</span>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('mailAddress')} ? has-error : ''">
          <label for="mailAddress" class="control-label">メールアドレス</label>:
          <input type="email" id="mailAddress" name="mailAddress" class="form-control" th:value="*{mailAddress}" />
          <span class="help-block" th:if="${#fields.hasErrors('mailAddress')}" th:errors="*{mailAddress}">Mail Address Error</span>
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-default" value="登録" />
        </div>
      </form>
    </div>
    <p>
      <a th:href="@{/login}">ログイン画面へ戻る</a>
    </p>
  </div>
</body>
</html>